.contact-section {
  padding: 100px 0;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  
  @media (max-width: 768px) {
    padding: 80px 0;
  }
  
  &__container {
    padding: 0 50px;
    
    @media (max-width: 768px) {
      padding: 0 25px;
    }
  }
  
  .section-number {
    display: block;
    margin-bottom: 10px;
  }
  
  .section-title {
    margin-bottom: 20px;
  }
  
  &__text {
    color: var(--text-secondary);
    font-size: 18px;
    line-height: 1.7;
    margin-bottom: 50px;
  }
}

