@import 'partials/fonts';
@import 'partials/base';
@import 'partials/nav';
@import 'partials/hero';
@import 'partials/about';
@import 'partials/experience';
@import 'partials/projects';
@import 'partials/contact';
@import 'partials/footer';
@import 'partials/switch';
@import 'partials/404';
