/* General*/
.Headings{
    color:#E4E9E1;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 48px;
 }


/*Top Page*/
#leftHalf {
    padding:5px;
    background: url(potrait.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 50%;
    height: 100%;
    position: absolute;
 }


 #RightHalf {
     padding:5px;
     background-color:#445D54;
     opacity:0.85;
     width: 49.8%;
     height: 100%;
     position:absolute;
     right: 6px;
 }

 #intro{
     padding-left: 5%;
     margin-top: 7%;

 }


 
#paragraph{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 29px;
    color: #E4E9E1;
    padding: 1px;
    margin-left: 5%;
    margin-right: 10%;
    
}


#Regards{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: #E4E9E1;
    width: 377px;
    height: 157px;
    margin-left: 5%;
    
}