  
body {
	background-color:#E4E9E1; 
    box-sizing: border-box;
    margin:0px; 
}

/* General*/
.Headings{
    color:#E4E9E1;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 48px;
    padding-top: 3%;
 }


/*Top Page*/

.float-container {  /* Div for page 1 */
    margin-top:0px;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    column-span: all;
 } 

 .float-child { /* Class encapsules leftHalf and RightHalf */
    width:48.85vw;
    /* width: 49.446vw; */
    height:100vh;
    float:left;
}


#leftHalf {
    margin:0.7861635220125787vh 0.2vw 0.7861635220125787vh 0.7861635220125787vh;
    background:url(potrait.jpg) center/cover;
    background-repeat: no-repeat;
 }


 #RightHalf {
     background-color:#445D54;
     opacity:0.85;
     margin:0.7861635220125787vh 0.7861635220125787vh 0.7861635220125787vh 0.2vw;
     overflow: visible;
 }

 #intro{
     padding-left: 5%;
     padding-right: 2%;
     margin-top: 7%;

 }


 
#paragraph{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 29px;
    color: #E4E9E1;
    padding: 5px;
    margin-left: 5%;
    margin-right: 10%;
    
}


#Regards{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: #E4E9E1;
    margin-left: 5%;  
    padding: auto;
}


/* Page 2  - projects */

 #IntroPage{ 
    border-bottom: 4px solid black 0.84;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
}  



/* Adding responsiveness*/

@media screen and (max-width:950px){
    .float-container{
        width:100%;
    }
    .float-child{
        width: 100vw;
        height:100vh;
        
    }

    #leftHalf{
        margin: 0.8vh 0.8vh 0.4vh 0.8vh;
    }

    #RightHalf {
        height: auto;
        margin: 0.4vh 0.8vh 0.8vh 0.8vh;
        padding: auto;
        background-size: contain;
        word-wrap:inherit;
    }

}
