 /* General*/
 html{
    overflow-x: hidden;
  }
 
 body {
     background-color: #E4E9E1;
     box-sizing: border-box;
     margin: 0px;
     padding: 0px;
     font-family: 'Poppins', sans-serif;
     display: flex;
     flex-direction: row;
     flex-flow: wrap;
     column-span: all;
     overflow-x: hidden; /* Hide horizontal scrollbar */
     width:100%;
    
 }


 h1 {
     color: #E4E9E1;
     font-style: normal;
     font-weight: 700;
     font-size: 27px;
     line-height: 48px;

 }

 /* h3 p {
    display: flex;
    justify-content: space-between;
 } */

 hr {
     height: 5px;
     background-color: black;
     opacity: 0.84;
     border: none;
     box-shadow: 0 15px 15px 0 #000000;
     margin: 1vh;
     width: 90%;
     margin-left: 5%;
 }

 .pageTitle {
     color: rgba(0, 0, 0, 0.85);
     opacity: 0.84;
     text-align: center;
     font-size: 40px;
 }




 /*************************************************************************************************/

 /*Top Page*/

 .float-container {
     /* Div for page 1 */
     margin-top: 0px;
     max-width: 100vw;
 }

 .float-child {
     /* Class encapsules leftHalf and RightHalf */
     width: 48.8vw;
     /* width: 49%; */
     /* width: 49.3vw; */
     height: 100vh;
     float: left;
 }


 #leftHalf {
     margin: 0.33% 0.2% 0.33% 0.45%;
     background: url(../public/min.potrait.jpg) center/cover;
     background-repeat: no-repeat;
 }


 #RightHalf {
     margin: 0.33% 0.33% 0.33% 0.2% ;
     background-color: #445D54;
     opacity: 0.85;
     overflow: visible;
 }

 #intro {
     padding-left: 5%;
     padding-right: 2%;
     margin-top: 7%;
     color: #E4E9E1;

 }



 #paragraph {
     font-style: normal;
     font-weight: 600;
     font-size: 16px;
     line-height: 29px;
     color: #E4E9E1;
     padding: 5px;
     margin-left: 5%;
     margin-right: 10%;

 }


 #Regards {
     font-style: normal;
     font-weight: 700;
     font-size: 18px;
     line-height: 26px;
     color: #E4E9E1;
     margin-left: 5%;
     padding: auto;
 }







 /*************************************************************************************************/

 /* Page 2  - projects */
 .project-div-container {
     width: 100vw;
 }


 .project-div {
     width: 40vw;
     height: 40vh;
     border:2px dashed #E4E9E1;
     background-color: #E4E9E1;
     margin: 4.5%;
     float: left;
 }

 .project-div:hover{
     border-color:#445D54;
     margin: 4.5% 6.5% 4.5% 2.5%;
 }

 

 .screenshot {
     width: 18vw;
     height: 38vh;
     margin: 1vh 0vw 1vh 1vw;
     float: left;
 }

 .project-details {
     width: 18vw;
     height: 38vh;
     margin: 1vh 1vw 1vh 0vw;
     float: left;
     text-align: center;

 }

 #Treep>.screenshot {
     background: url(../public/treep.android.chrome.jpg)center/cover;
     background-size: contain;
     background-repeat: no-repeat;
 }

 /* #Treep>.project-details {
     background-color: #8b8040;
 } */


 #Todo-App>.screenshot {
     background: url(../public/Todo-App.png)center/cover;
     background-size: contain;
     background-repeat: no-repeat;
 }

 #Mountaineer>.screenshot {
     background: url(../public/under-construction.svg)center/cover;
     background-size: contain;
     background-repeat: no-repeat;
 }

 h2 {
     color: #000000 85%;
     font-family: 'Poppins';
     font-style: normal;
     font-weight: 600;
     font-size: 25px;
     line-height: 38px;
     opacity: 0.85;
     text-align: center;

 }

 .project-div>p {
     font-family: 'Poppins';
     font-style: normal;
     font-weight: 500;
     font-size: 21px;
     line-height: 32px;
     color: rgba(0, 0, 0, 0.85);
     opacity: 0.85;
 }

 button {
     width: 74px;
     height: 36px;
     background: rgba(68, 93, 84, 0.85);
     border-radius: 20px;
     border: none;
     margin: 6%;
     font-weight: 600;
     font-size: 15px;
 }

 button:hover {
     background: rgba(68, 93, 84);
 }

 a {
     color: white;
     text-decoration: none;
 }

 a:hover {
     color: #E4E9E1;
 }



 /*************************************************************************************************/
 /*Page 3 - Education and skills */
 #Education-Skills {
     width: 100%;
     height: 100vh;
     background: rgba(68, 93, 84, 0.85);
     border: none;
     color: #E4E9E1;
 }


 #Education {
     width: 40%;
     height: 100%;
     margin: 0% 3% 0% 3%;
     float: left;
 }

 #Skills {
     width: 40%;
     height: 100%;
     margin: 0% 3% 0% 3%;
     
     display: inline-block;
 }

 /* Text Animation for skills*/
 .animated {
    overflow: hidden;
    /* width: 11rem; */
    white-space: nowrap;
    animation: 5s linear 0s infinite alternate move;
    position:inherit;
  }

  .animated1 {
    overflow: hidden;
    /* width: 11rem; */
    white-space: nowrap;
    animation: 4s linear 0s infinite alternate move;
    position:inherit;
  }

  .animated2{
    overflow: hidden;
    /* width: 11rem; */
    white-space: nowrap;
    animation: 3s linear 0s infinite alternate move;
    position:inherit;
  }

  .animated3{
    overflow: hidden;
    /* width: 11rem; */
    white-space: nowrap;
    animation: 7s linear 0s infinite alternate move;
    position:inherit;
  }
  
  .animated4{
    overflow: hidden;
    /* width: 11rem; */
    white-space: nowrap;
    animation: 5s linear 0s infinite alternate move;
    position:inherit;
  }
  
  .animated5{
    overflow: hidden;
    /* width: 11rem; */
    white-space: nowrap;
    animation: 4s linear 0s infinite alternate move;
    position:inherit;
  }
  
  .animated6{
    overflow: hidden;
    /* width: 11rem; */
    white-space: nowrap;
    animation: 6s linear 0s infinite alternate move;
    position:inherit;
  }
  
  .animated7{
    overflow: hidden;
    /* width: 11rem; */
    white-space: nowrap;
    animation: 3s linear 0s infinite alternate move; 
    position:inherit;
  }
  
  .animated8{
    overflow: hidden;
    /* width: 11rem; */
    white-space: nowrap;
    animation: 4s linear 0s infinite alternate move;
    position:inherit;
  }
  

  .animated9{
    overflow: hidden;
    /* width: 11rem; */
    white-space: nowrap;
    animation: 7s linear 0s infinite alternate move;
    position:inherit;
  }
  
  .animated10{
    overflow: hidden;
    /* width: 11rem; */
    white-space: nowrap;
    animation: 6s linear 0s infinite alternate move;
    position:inherit;
  }
  
  
  
 
  
  
  @keyframes move {
    from {
        margin-left: 38%;
        width: 45%;
      }
    
      to {
        margin-left: 12%;
        width: 45%;
      }
  }
  

 #Education h4,
 #Education p {
     display: inline;
     vertical-align: top;
     margin: 1%;
 }
 
 #Skills h3{
     text-align: center;
     font-size: medium;
 }


 #Education h3 {
     margin-left: 20%;
     padding-top: 2%;

 }
 
 #Education h4 {
    margin-left: 20%;

}

 #Skills h2{
    margin-bottom: 6%;

} 



 /*************************************************************************************************/
 /*Page 4 - Experience & Footer*/
 #Experience {
     width: 100vw;
     height: 160vh;
     
 }

 #Experience h3{
     margin-bottom: 0%;
 }



 .company {
    width: 50vw;
    height:auto;
    float:left;
    color: rgba(0, 0, 0, 0.85);
    text-align: center;
    margin:2% 0% 2% 0%;
}
 
 .duties{
     width: 48vw;
     height:auto;
     float:left;
     color: rgba(0, 0, 0, 0.85);
     margin:2% 0% 2% 0%;
     padding-right: 1px;
 }

 #footer {
     width: 100%;
     height: 40vh;
     background-color: #202020;  
     backdrop-filter: blur(5px);
     text-align: center;
 }   

 #footer h2{
     margin:2% 10% 0% 10%;
     color: #C9CCC7;
     font-size: medium;

 }

 #footer-hr1{
    background-color: #202020;  
    backdrop-filter: blur(5px);
    box-shadow: none;
}

#contacts{
    width:27%;
    height: 30vh;
    float: left;
    margin: 0% 3% 0% 3%;
}
#links{
    width:27%;
    height: 30vh;
    float: left;
    margin: 0% 0% 0% 0%;
}
#cv{
    width:27%;
    height: 30vh;
    float: left;
    margin: 0% 3% 0% 3%;
}


#footer p{
    color:   #C9CCC7; 
    line-height: 28px;
    font-size: small;
}
#footer-hr{
    background-color: #b3b3b4;  
    width: 80%;
    margin-left: 10%;
    box-shadow: none;
    height:1px;
}

#footer a{
    color: rgb(170, 170, 170);
    text-decoration: none;
}

#footer a:hover {
    color: #686767;
}

#bottom-text{
    font-weight: 10;
    font-size: small;
}




 /*************************************************************************************************/
 /* Adding responsiveness*/

 @media screen and (max-width:1030px) {

     /* Tablets and smaller devices*/
     .float-container {
         /* Page 1 elements */
         width: 100%;
     }

     .float-child {
         width: 97%;
         height: 100vh;

     }

     #leftHalf {
         margin-left:1.5%;
         margin-top: 1.5%;
     }

     #RightHalf {
         height: auto;
         /* margin: 0.2% 0.4%  0.4%  0.4% ; */
         margin-left: 1.5%;
         margin-top: 0.9%;
         margin-bottom: 1.5%;
         padding: auto;
         background-size: contain;
         word-wrap: inherit;
     }

     hr {
         height: 5px;
         background-color: black;
         opacity: 0.84;
         border: none;
         box-shadow: 0 15px 15px 0 #000000;
         margin: 1vh 0vw 1vh 0vw;
         width: 90%;
         margin-left: 5%;
     }

     .project-div-container {
         /* Page 2 elements */
         width: 100%;
     }

     .project-div {
         width: 98vw;
         height: 100vh;

     }

     #Treep {
         margin: 0.8vh 0.8vh 0.4vh 0.8vh;
     }

     #Todo-App {
         margin: 0.4vh 0.8vh 0.4vh 0.8vh;
     }

     #Mountaineer {
         margin: 0.4vh 0.8vh 0.8vh 0.8vh;
     }

     .screenshot {
         width: 96vw;
         height: 45vh;
         margin: 2%;

     }

     .project-details {
         width: 96%;
         height: auto;
         margin: 2%;
     }

     .float-page3-container {
         /* page 3 elements */
         width: 100%;
     }



     #Education {
         width: 90vw;
         height: 30vh;
         margin-left: 5vw;
         text-align:left;
         font-size: small;
         border-bottom: 2px dashed#E4E9E1;
     }

     #Skills {
         width: 90vw;
         height: 50vh;
         font-size: small;
         flex:right;
        
     }

     .experience-paragraph{
        font-size: small;
     }

     #Experience {
        height: 90vh;
    }

    #footer{
        height: 20vh;
    }

    #contacts{
        width:27%;
        height: 15vh;
        float: left;
        margin: 0% 3% 0% 3%;
    }
    #links{
        width:27%;
        height: 15vh;
        float: left;
        margin: 0% 0% 0% 0%;
    }
    #cv{
        width:27%;
        height: 15vh;
        float: left;
        margin: 0% 3% 0% 3%;
    }

    

     

 }


  @media screen and (max-width:450px) {

     /* Phones */

     .pageTitle {
         font-size: 27px;
     }

     .project-div>p {
         font-size: 16px;
         line-height: 26px;
     }

     h2 {
         font-size: 20px;
         line-height: 30px;
     }

     #footer h2{
        margin:2% 10% 0% 10%;
        font-size: small;
    }

    #footer p{
        font-size: x-small;
        line-height: 22px;
    }

    .experience-paragraph{
        font-size: x-small;
     }

     #Experience {
        height: 130vh;
    }

    #footer{
        height: 30vh;
    }

    #contacts{
        width: 40%;
        height: 20vh;
        float: left;
        margin: 0% 3% 0% 3%;
    }
    #links{
        width: 15%;
        height: 20vh;
        float: left;
        margin: 0% 0% 0% 0%;
    }
    #cv{
        width: 33%;
        height: 20vh;
        float: left;
        margin: 0% 3% 0% 3%;
    }

    hr{
        margin-left:3%;
    }
    .project-div {
        width: 96vw;
        height: 100vh;

    }




 }